$color-primary: rgb(236, 94, 28);
$color-primary-light: rgb(235, 123, 71);

$color-bg: rgb(248, 248, 248);
$color-bg-light: rgb(245, 245, 245);
$color-bg-footer: #222;

$color-text-grey: #777;
$color-text-grey-dark: #555;

$color-main-black: black;
$color-main-white: white;

// FONT
$default-font-size: 1.5rem;
